<!-- Home Screen Container -->
<div class="bg-gray-100 h-auto flex flex-col items-center justify-center">
    <!-- Hero Section -->
    <section class="relative w-full bg-gradient-to-r from-purple-600 via-purple-500 to-purple-400 text-white py-10 px-4 md:px-12">
        <div class="container mx-auto flex flex-col md:flex-row items-center justify-between">
          <div class="heroTextBox text-left md:text-left md:w-1/2 gap-5">
            <h1 class="titlehero font-extrabold animate-fadeIn">Welcome to Algo Alert</h1>
            <p class="parahero text-lg mb-6 animate-fadeIn">Your go-to platform for practicing and mastering algorithmic questions. Enhance your coding skills with tailored challenges and track your progress effectively.</p>
            <a href="/auth/signup" class="bg-purple-700 hover:bg-yellow-500 text-white font-bold py-2 px-6 rounded-md transition duration-300 animate-fadeIn">Get Started</a>
          </div>
          <div class="md:w-1/2 mt-8 md:mt-0 flex justify-center">
            <img src="/assets/reading-book.png" alt="Project Overview" class="w-full max-w-md mx-auto animate-slideIn" />
          </div>
        </div>
      </section>
      
    <!-- Key Features Section -->
    <section id="features" class="features-section">
        <div class="container mx-auto text-center">
          <h2 class="hero-key-features animate-fadeIn">Key Features</h2>
          <div class="features-grid">
            <div class="feature-card animate-fadeIn">
              <h3 class="feature-title">Personalized Practice</h3>
              <p class="feature-description">Get customized algorithmic questions based on your skill level and preferences. Improve your weaknesses and build your strengths.</p>
            </div>
            <div class="feature-card animate-fadeIn">
              <h3 class="feature-title">Progress Tracking</h3>
              <p class="feature-description">Monitor your progress with detailed analytics. See your improvements over time and stay motivated with your achievements.</p>
            </div>
            <div class="feature-card animate-fadeIn">
              <h3 class="feature-title">Community Support</h3>
              <p class="feature-description">Join a community of like-minded learners. Share your progress, get tips, and collaborate on challenges with others.</p>
            </div>
          </div>
        </div>
      </section>
      
      
  
    <!-- Call to Action Section -->
<section class="cta-section bg-gradient-to-r from-purple-600 via-purple-500 to-purple-400 text-white text-center">
    <div class="container mx-auto">
      <h2 class="cta-title animate-fadeIn">Ready to Get Started?</h2>
      <p class="cta-description animate-fadeIn">
        Sign up now and start your journey to mastering algorithms today. Join a community dedicated to your growth and success.
      </p>
      <a href="/auth/signup" class="cta-button bg-purple-700 animate-fadeIn">Sign Up Now</a>
    </div>
  </section>
  
  </div>
  