<h2 mat-dialog-title>Add Question</h2>
<mat-dialog-content class="mat-typography">
    <!-- {{addQuestionForm.value | json}} -->
    <form [formGroup]="addQuestionForm" (ngSubmit)="addRecord()">
        <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-3 gap-4">
            <mat-form-field appearance="fill">
                <mat-label>Question</mat-label>
                <input matInput placeholder="Question" formControlName="quesName">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Difficulty</mat-label>
                <mat-select formControlName="quesDifficulty">
                    <mat-option value="Easy">Easy</mat-option>
                    <mat-option value="Medium">Medium</mat-option>
                    <mat-option value="Hard">Hard</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Platform</mat-label>
                <mat-select formControlName="quesPlatform">
                    <mat-option value="Leetcode">Leetcode</mat-option>
                    <mat-option value="GFG">GFG</mat-option>
                    <mat-option value="InterviewBit">InterviewBit</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Link</mat-label>
                <input matInput placeholder="Link" formControlName="quesLink">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Frequency</mat-label>
                <input matInput placeholder="Repeat frequency" formControlName="quesRepeatFreq" type="number">
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Solution Link</mat-label>
                <input matInput placeholder="Solution Link" formControlName="quesSolutionLink">
            </mat-form-field>

            <!-- <mat-form-field appearance="fill">
                <mat-label>Topics</mat-label>
                <input matInput placeholder="Topic" formControlName="topic">
            </mat-form-field> -->

            <mat-form-field appearance="fill">
                <mat-label>Topics</mat-label>
                <mat-chip-grid #chipGrid aria-label="Enter fruits">
                    <!-- @for (fruit of topics(); track fruit) { -->
                    <ng-container *ngFor="let topic of topics; let i = index">
                        <mat-chip-row (removed)="remove(i)" [editable]="true"
                            [aria-description]="'press enter to edit ' + topic.name">
                            {{topic.name}}
                            <button matChipRemove [attr.aria-label]="'remove ' + topic.name">
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </mat-chip-row>
                        <!-- } -->
                    </ng-container>
                    <input placeholder="Add topics.." [matChipInputFor]="chipGrid"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)" formControlName="topic" />
                </mat-chip-grid>
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Comment</mat-label>
                <textarea matInput placeholder="Comment" formControlName="quesComment"></textarea>
                <!-- <input matInput placeholder="Comment" formControlName="quesComment"> -->
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial [disabled]="addQuestionForm.invalid">Save</button>
</mat-dialog-actions>